<%- include("partials/header.ejs") %>

<div class="container">
        <header class="jumbotron">
            <h2>welcome to campground page</h2>
        </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campground.forEach(function(it){ %>
            <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= it.image %>" width="250px" height="300px">
                        <div class="caption">
                            <h2><%= it.name %></h2>
                        </div>
                    </div>
            </div>
         <% }); %>
    </div>
     <form action="/campground/new" method="GET">
        <button type="submit" class="btn btn-danger" >click for upload image</button>
     </form>
</div>


 <%- include("partials/footer.ejs") %>