<%- include("partials/header.ejs") %>
<h1>landing page is working too</h1>

<button><a href="/campground">click for campground</a></button>
<!-- <a href="/campground">click for campground</a> -->
<button><a href="/campground/new">click for upload image</a></button>


<%- include("partials/footer.ejs") %>