<%- include("partials/header.ejs") %>
<div class="container" style="margin: 50px auto;">
    <div class="jumbotron" style="margin: 25px auto; width: 50%;">
        <h1>landing page is working too</h1>

        <div class="form-group">
            <form action="/campground">
                 <button type="submit" class="btn btn-danger btn-lg btn-block">click for view image</button>
            </form>
       </div>

       <div class="form-group">
        <form action="/campground/new">
             <button type="submit" class="btn btn-danger btn-lg btn-block">click for add image</button>
        </form>
   </div>
        
    </div>
</div>



<%- include("partials/footer.ejs") %>